[Desktop Entry]
Comment=clang++ normal compilation
Terminal=true
Name=clang++
Exec=gnome-terminal -x zsh -c "echo 'clang++ -std=c++11 plik.cpp -o plik'; zsh -i"
Type=Application
Icon=utilities-terminal
