[Desktop Entry]
Comment=g++ normal compilation
Terminal=true
Name=g++
Exec=gnome-terminal -x zsh -c "echo 'g++ -std=c++11 plik.cpp -o plik'; zsh -i"
Type=Application
Icon=utilities-terminal
