[Desktop Entry]
Comment=g++ compilation like in checkers
Terminal=true
Name=g++ kompilacja OIa
Exec=gnome-terminal -x zsh -c "echo 'g++ -std=c++11 -O3 -static -m32 plik.cpp -o plik'; zsh -i"
Type=Application
Icon=utilities-terminal
