[Desktop Entry]
Comment=gdb
Terminal=true
Name=gdb
Exec=gnome-terminal -x zsh -c "echo 'gdb -q plik\nPotem komendy:\nrun < test\nbt\nq\ny'; zsh -i"
Type=Application
Icon=utilities-terminal
